


/* Tailwind CSS */
@import "tailwindcss";

/* Dark mode */
@custom-variant dark (&:where(.dark, .dark *));

/* Theme */
@theme {
   --font-rubik: "Rubik", sans-serif;

   --breakpoint-xs: 540px;
   --breakpoint-sm: 640px;
   --breakpoint-md: 720px;
   --breakpoint-lg: 960px;
   --breakpoint-lg_992: 992px;
   --breakpoint-xl: 1140px;
   --breakpoint-2xl: 1440px;
   
}
@layer utilities {
  .font-rubik {
    font-family: var(--font-rubik);
  }
}


/* Components */
@import "./components/_buttons.css";

/* Custom */
@import "./custom/_general.css";
@import "./custom/pages/_helper.css";
@import "./custom/pages/_contact.css";
@import "./custom/pages/_timeline.css";
@import "./custom/plugins/_testi.css";
@import "./custom/structure/_topnav.css";
@import "./custom/animate.min.css";



         
      